

@import '../../../_common/styles/common.scss';



.frame4 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
	color:black;
	font-family: bold;
}



.t1{
	font-size: 30px;
	word-spacing: 1px;
	letter-spacing: 7.1px;	
	&.a{
		@include pos(127, 15);
	}
	&.b{
		@include pos(209, 51);
	}	
}



.t2{
	font-family: reg;	
	font-size: 30px;
	word-spacing: 1px;
	letter-spacing: 6.8px;
	&.a{
		@include pos(137, 32);		
	}
}


.frame3 {	
	.desktop{
		@include pos(96, 5);		
		width: 86px;
	}
	.phone{
		@include pos(248, 10);		
		width: 40px;
	}
	.tablet{
		@include pos(382, 12);		
		width: 41px;
	}
	.news{
		@include pos(515, 2);		
		width: 98px;
	}
}


.frame4{
	.t4{
		
		// font-family: reg;		
		// text-align: center;
		// line-height: 21px;
		// font-size: 15px;
		// letter-spacing: 2.3px;
		transform-origin: 0 0;
		&.a{
			@include pos-scale(9,41, .5);
		}
		&.b{
			@include pos-scale(266, 41, .5);
		}
		&.c{
			@include pos-scale(466, 41, .5);
		}
		
	}

	.dot{
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: red;
		
		
	}
	.dot.dot1{
		@include pos(253, 45);
	}

	.dot.dot2{
		@include pos(453, 45);
	}
}


.frame5{
	#logo{
		width: 160px;
		@include pos(551, 15);		
	}
	#cta{
		@include pos(48, 16);
		background-color: black;
		// border: 1px solid red;
		color: white;
		letter-spacing: 4px;		
		font-size: 26px;
		padding: 4px 13px;
		padding-top: 7px;
		font-family: bold;
	}
	#tag{
		@include pos(29, 61);
		color: black;
		font-size: 13px;
		letter-spacing: 2.1px;
		line-height: 16px;		
		text-align: center;
	}

	#triangles{
		@include pos(219, 16);		
	}

	.desktop{
		@include pos(317, 12);		
		width: 74px;
	}
	.phone{
		@include pos(377, 45);		
		width: 19px;
	}
	.tablet{
		@include pos(305, 30);		
		width: 29px;
	}
	.news{
		@include pos(385, 8);		
		width: 58px;
	}
}