<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<!-- <img src="./frames/f1.jpg" alt=""> -->
		<p class="t1 a">THE WORLD </p>
		<p class="t1 b">IS CHANGING.</p>
		<p class="t1 c">SO IS</p>
		<p class="t1 d">THE GLOBE.</p>
	</div>
	<div class="frame frame2">
		<!-- <img src="./frames/f2.jpg" alt=""~> -->
		<p class="t2 a">A DATA-DRIVEN</p>
		<p class="t2 b">REDESIGN</p>
	</div>

	<div class="frame frame3">
		<!-- <img src="./frames/f3.jpg" alt=""> -->
		<div id="desktop">
			<img class="device">
			<div class="masker">
				<div class="holder">
					<img id="desktop-content1" class="content">
					<img id="desktop-content2" class="content">
				</div>
			</div>			
		</div>
		<div id="phone">
			<img class="device">
			<div class="masker">
					<div class="holder">
						<img class="content">
					</div>
				</div>		
		</div>

		<div id="tablet">
			<img class="device">
			<div class="masker">
				<div class="holder">
					<img class="content">
				</div>
			</div>		
		</div>
		
		<!-- <img id="phone" src="./images/product_phone.png" inline> -->
		<!-- <img id="tablet" src="./images/product_tablet.png" inline> -->
		<img id="news" src="./images/product_news.png" inline>
	</div>

	<div class="frame frame4">
		<!-- <img src="./frames/f7.jpg" alt=""~> -->
		<img class="t4 a" src="./images/p1.png" inline/>
		<div class="dot dot1"></div>	
		<img class="t4 b" src="./images/p2.png" inline/>
		<div class="dot dot2"></div>	
		<img class="t4 c" src="./images/p3.png" inline/>
	</div>

	<div class="frame frame5">
		<!-- <img src="./frames/f8.jpg" alt=""~> -->
		<img id="logo" class="branding" src="../_common/images/logo.svg" inline />
		<p id="cta" class="branding">EXPLORE</p>
		<p id="tag" class="branding">THE NEW GLOBE REDESIGN</p>
		<img id="triangles" src="./images/triangles.png" inline/>

		<img class="desktop" src="../_common/images/product_desktop.png" inline>
		
		<img class="tablet" src="../_common/images/product_tablet.png" inline>
		<img class="news" src="../_common/images/product_news.png" inline>
		<img class="phone" src="../_common/images/product_phone.png" inline>
	</div>
</div>
